body {
  background-color: #004d40; /* Темно-зеленый фон */
  font-family: sans-serif;
  color: white; /* Белый текст */
  margin: 0;
}

.App {
  text-align: center;
  min-height: 100vh; /* Занимает всю высоту экрана */
  display: flex;
  flex-direction: column;
  position: relative; /* Добавляем, чтобы .download-button-link позиционировался относительно .App */
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-links div {
  margin-left: 20px;
  cursor: pointer;
}

.phone-number {
  font-weight: normal; /* Обычный шрифт для номера телефона */
}

.search-container {
  margin-top: 40px;
  margin-bottom: 40px;
}

.search-container h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.search-container input {
  padding: 12px 20px;
  border: 2px solid #00695c;
  border-radius: 5px;
  font-size: 1em;
  margin-right: 10px;
  width: 300px;
  background-color: #e0f2f1;
  color: #004d40;
}

.search-container button {
  padding: 12px 30px;
  background-color: #00695c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #e0f2f1;
  color: #004d40;
}

th,
td {
  border: 1px solid #00695c;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #00695c;
  color: white;
  font-weight: bold;
}

/* Стили для кнопки "Скачать устав" */
.download-button-link {
  position: absolute;
  top: 20px; /* Регулируй отступ сверху */
  left: 20px; /* Регулируй отступ слева */
  text-decoration: none;
  color: white;
}

.download-button-link button {
  background-color: #00695c; /* Темно-зеленый фон */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Стили для кнопки "Скачать протокол собраний" */
.protocol-button {
  left: 250px; /*  Регулируй отступ слева для протокола собраний */
}

/* Добавьте стили для всплывающих окон здесь (позже) */
